:root {
    --white: #ffeeee;
    --black: #0c0303;
    --primary: #365946;
    --action-colour: #e35934;
    --action-colour-hover: #f14d22
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 28px;
}

/*NAV*/
.logo {
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}
.navbar a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    /* Space between links */
    margin-right: 1.2em;
    margin-left: 1.2em;
    /* Position for underline animation */
    position: relative;
}

/* Underline slide in effect on hover */
.navbar a:not(.logo)::after {
    content: '';
    position: absolute; /* Position  pseudo-element */
    width: 0; /* Initial width for sliding animation */
    height: 2px; /* Set height for underline */
    background-color: var(--action-colour);
    /*Align underline at bottom of link*/
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.navbar a:hover:not(.logo)::after {
    /* Expand  width on hover */
    width: 100%;
}
/*HOME*/
.heroSection {
    /*Make splashImage go behind the nav bar that's 126px tall*/
    margin-top: -126px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}
.heroContent {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100%; /* Ensure heroContent takes up full height */
}
.heroContent > h1,
.heroContent > h2 {
    text-shadow: 1px 1px 2px var(--black)z;
}
.heroContent > h2{
    margin-top: .2em;
}
.heroContent > a{
    margin-top: 1em;
    width: 200px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--action-colour);
    text-shadow: 1px 1px 2px var(--black);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}
.heroContent>a:hover{
    transition: .2s ease-in;
    background-color: var(--action-colour-hover);
}
/*Mobile Hero Heading Styles*/
@media(max-width: 990px){
    .heroContent > h1{
        font-size: 38px;
    }
    .heroContent > h2 {
    font-size: 28px;
    }
}
@media(max-width: 769px){
    .heroContent{
      align-items: center;
    }
}
@media(max-width: 399px){
    .heroContent > h1{
        font-size: 28px;
    }
    .heroContent > h2 {
        font-size: 20px;
    }
}
/*REASON CARDS*/
.reasonCardContainer {
    box-shadow: 0 10px 10px -5px var(--black);
}

.reasonCard {
    background-color: var(--primary);
    color: var(--white);
    padding: 16px 24px 16px 24px;
    border-left: solid var(--black) 2px;
    border-top: solid var(--black) 2px;
    min-height: 30vh;
    /*Center content*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reasonCard img {
    margin-bottom: 20px;
}

/*Featured Section*/
.featuredSection{
    padding: 4em;
}
#featuredSectionHeader{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
/*Course Product Cards*/
.courseCardContainer {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 4em;
}
/*Featured Courses Grid Mobile layouts*/
@media (max-width: 1200px) {
    .courseCardContainer {
        grid-template-columns: 1fr 1fr;
    }
    .courseCardContainer .courseCard:last-of-type{
        grid-column: span 2;
    }
}
@media (max-width: 980px) {
    .courseCardContainer {
        grid-template-columns: 1fr;
    }
    .courseCardContainer .courseCard:last-of-type{
        grid-column: span 1;
    }
}
.courseCard {
    /*background-color: aqua;*/
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px -5px var(--black);
}

.courseCard > img {
    width: 100%;
    border-bottom: solid 2px black;
    border-radius: 10px 10px 0 0;
}
.cardHeading{
    text-align: center;
    color: var(--black);
}
.cardHeading:hover{
    transition: .2s ease-in;
    color: var(--action-colour);
}
.courseCardBody {
    padding: 16px;
    /*Make body same height, forcing buttons to align with other cards*/
    min-height: 300px;
}
.courseCardBody>h3{
    text-align: center;
}
.courseCardDescription > a{
    display: flex;
    justify-content: flex-end;
}

/*Tags & Category Styles*/
.tagsWrapper{
    margin-bottom: 10px;
}

.tagBox,
.categoryBox{
    background-color: #f2f2f2;
    color: var(--black);
    text-decoration: none;
    padding: 4px 8px 4px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.tagBox:hover,
.categoryBox:hover{
    transition: .2s ease-in;
    color: var(--action-colour-hover);
}


/*Card Footer - Price info & add to cart button*/
.courseCardFooter {
    border-top: solid 1px var(--black);
    display: flex;
    justify-content: space-between;
    padding: 16px;
}


/*Buttons*/
.courseCardButton{
    background-color: var(--action-colour);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.courseCardButton:hover{
    transition: .2s ease-in;
    background-color: var(--action-colour-hover);
}
.courseCardButton:active {
    transform: translateY(2px); /*Shifts button on click, for visual feedback*/
}


#featuredShopLink{
    text-align: center;
}
#featuredShopLink>a{
    font-size: 1.5em;
}

/*SHOP*/
.shopContainer{
    padding: 4em;
}
/*FOOTER*/
footer{
    padding-top: 1em;
    background-color: var(--primary);
    color: var(--white);
}
.footerContent{
    margin-bottom: 1em;
}
/*Center text content on small screens*/
@media (max-width: 990px) {
   .footerContent {
        text-align: center;
    }
}
.copyrightSection{
    background-color: #233f31;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 12px;
}
