@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Prata&display=swap');

:root {
    --white: #ffeeee;
    --black: #0c0303;
    --primary: #365946;
    --action-colour: #e35934;
    --action-colour-hover: #f14d22
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
h1{
    font-size: 48px;
    font-family: "Prata", serif;
}
h2{
    font-size: 38px;
    font-family: "Prata", serif;
}
h3{
    font-size: 28px;
    font-family: "Prata", serif;
}
body{
    font-family: "Merriweather", serif;
}
main{
    min-height: 70vh;
}
/*NAV*/
.logo {
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.2);
}
/*Make Product Template Nav BG solid colour*/
body.product-template-default nav.navbar {
    background-color: var(--primary);
    margin-bottom: 2em;
    box-shadow: 0 10px 10px -5px var(--black);
}
.navbar a {
    font-family: "Prata", serif;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    /* Space between links */
    margin-right: 1.2em;
    margin-left: 1.2em;
    /* Position for underline animation */
    position: relative;
}

/* Underline slide in effect on hover */
.navbar a:not(.logo)::after {
    content: '';
    position: absolute; /* Position  pseudo-element */
    width: 0; /* Initial width for sliding animation */
    height: 2px; /* Set height for underline */
    background-color: var(--action-colour);
    /*Align underline at bottom of link*/
    bottom: 0;
    left: 0;
    transition: width 0.2s ease-in-out;
}

.navbar a:hover:not(.logo)::after {
    /* Expand  width on hover */
    width: 100%;
}
/*Mastheads for every page but Home*/
.masthead {
    margin-top: -126px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    box-shadow: 0 10px 10px -5px var(--black);
}

.masthead-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center horizontally */
    text-align: center;
    height: 100%; /* Ensure heroContent takes up full height */
}

/*HOME*/
.hero-section {
    /*Make splashImage go behind the nav bar that's 126px tall*/
    margin-top: -126px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
}

.hero-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: 100%; /* Ensure heroContent takes up full height */
}
.hero-content > h1,
.hero-content > h2 {
    text-shadow: 2px 2px #151414;
}
.hero-content > h2{
    margin-top: .2em;
}
.hero-content> a{
    margin-top: 1em;
    width: 200px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--action-colour);
    text-shadow: 1px 1px 2px var(--black);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
}
.hero-content>a:hover{
    transition: .2s ease-in;
    background-color: var(--action-colour-hover);
}
/*Mobile Hero Heading Styles*/
@media(max-width: 990px){
    .hero-content > h1{
        font-size: 38px;
    }
    .hero-content > h2 {
    font-size: 28px;
    }
}
@media(max-width: 769px){
    .hero-content{
      align-items: center;
    }
}
@media(max-width: 399px){
    .hero-content > h1{
        font-size: 28px;
    }
    .hero-content > h2 {
        font-size: 20px;
    }
}
/*REASON CARDS*/
.reason-card-container {
    box-shadow: 0 10px 10px -5px var(--black);
}

.reason-card {
    background-color: var(--primary);
    color: var(--white);
    padding: 16px 24px 16px 24px;
    border-left: solid var(--black) 2px;
    border-top: solid var(--black) 2px;
    min-height: 30vh;
    /*Center content*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reason-card > img {
    margin-bottom: 20px;
}

/*Featured Section*/
.featured-section{
    padding-bottom: 4em;
    padding-top: 4em;
}
.featured-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#featured-section-header{
    text-align: center;

}
/*FEATURED BUTTONS*/
.featured-shop-button{
    background-color: var(--action-colour);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.featured-shop-button:hover{
    transition: .2s ease-in;
    background-color: var(--action-colour-hover);
}
.featured-shop-button:active {
    transform: translateY(2px); /*Shifts button on click, for visual feedback*/
}

#featured-shop-link{
    text-align: center;
}
#featured-shop-link>a{
    font-size: 1.5em;
}

/*Course Product Cards*/
.course-card-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    padding-right: 2em;
    padding-left: 2em;
    gap: 40px;
    margin-bottom: 2em;
    margin-top: 2em;
}
/*MOBILE LAYOUT*/
@media (max-width: 1200px) {
    .course-card-container {
        grid-template-columns: 1fr 1fr;
    }

}
@media (max-width: 980px) {
    .course-card-container {
        grid-template-columns: 1fr;
    }
    .course-card-container > li:last-of-type{
        grid-column: span 1;
    }
}

.course-card-container > li{
    box-shadow: 0 10px 10px -5px var(--black);
    list-style: none;
}
.product-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;

}
.product-link{
    max-height: 400px;
}
.product-image > img{
    width: 100%;
    height: auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.product-details {
    padding: 1em 1em 0 1em;
    max-height: 200px;
}

.product-title {
    text-align: center;
    color: var(--black);
    text-decoration: none;
}
.product-link{
    text-decoration-color: var(--black);
}
.product-title:hover{
    transition: .2s ease-in-out;
    color: var(--action-colour-hover);

}
.product-meta{
    min-height: 100px;
}



/*Product Card Footer*/
.product-footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid  var(--black);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*Buttons*/
.product-add-to-cart > a{
    background-color: var(--action-colour);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin-right: 8px;
}

.product-add-to-cart > a:hover{
    transition: .2s ease-in-out;
    background-color: var(--action-colour-hover);
}


/*SHOP*/
.shop-container{
    padding: 4em;

}

/*Center cards*/

.shop-container > .woocommerce > .products .li  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.shop-container >.woocommerce >  ul > li{
    box-shadow: 0 10px 10px -5px var(--black);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.woocommerce-result-count{
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
    border: 1px solid #bdb8b8;
}
.woocommerce ul.products li.product .button{
    background-color: var(--action-colour);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.woocommerce ul.products li.product .button:hover{
    transition: .2s ease-in-out;
    background-color: var(--action-colour-hover);
}
.woocommerce span.onsale{
    background-color: var(--action-colour);
}
/*CART*/
.cart-body{
    padding-top: 4em;
}
#coupon_code{
    width: 200px;
}
.woocommerce a.button.alt{
    background-color: var(--action-colour);
    color: var(--white);
    border-radius: 8px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

}
.woocommerce a.button.alt:hover{
    transition: .2s ease-in-out;
    background-color: var(--action-colour-hover);
}
.woocommerce table.cart img{
    max-height: 80px;
    width: auto;
}
.product-name > a{
    color: var(--black);
}
.product-name > a:hover{
    transition: .2s ease-in-out;
    color: var(--action-colour-hover);
}
.cross-sells,.cart_totals {
    padding-top: 1em;
}
.woocommerce ul.products li.product h3{
    font-size: 20px;
    font-family: "Prata", serif;
}
/*ABOUT PAGE*/
.about-page{
    padding-top: 2em;
    padding-bottom: 4em;
}
.about-page>h2{
    text-align: center;
    margin-bottom: .5em;
}
.about-page>h2:last-of-type{
    margin-top: 1em;
}
.about-article > figure{
    width: 500px;
    height: auto;
}
.about-article > figure{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.about-article > figure:first-of-type{
    margin-left: 2em;
}
.about-article > figure:last-of-type{
    margin-right: 2em;
}

@media (max-width: 1200px) {
    .about-article{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .about-article > figure:first-of-type {
        margin-left: 0;
    }
    .about-article > figure:last-of-type {
        margin-right: 0;
    }
}

.about-article> figure > img{
    width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}
/*CHECKOUT*/
.checkout-body{
    margin-top: 1em;
    margin-bottom: 4em;
}
#place_order{
    background-color: var(--action-colour);
    color: var(--white);
    border-radius: 8px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#place_order:hover{
    transition: .2s ease-in-out;
    background-color: var(--action-colour-hover);
}
/*MY ACCOUNT*/
.account-body{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #c9c9c9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 8px;

}

/*INNER PRODUCT TEMPLATE*/
body.single-product #primary {
    padding: 2em 4em;
}
.woocommerce div.product p.price {
    color: var(--primary);
}
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt {
    background-color: var(--action-colour);
    color: var(--white);
    border-radius: 8px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button.alt:hover{
    transition: .2s ease-in-out;
    background-color: var(--action-colour-hover);
}
.woocommerce .woocommerce-breadcrumb{
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #f5f5f5;
    display: inline-block;
    border: 1px solid #bdb8b8;
}
.woocommerce .woocommerce-breadcrumb > a:hover{
    transition: .2s ease-in-out;
    color: var(--action-colour-hover);
}
.wp-post-image{
    border-radius: 8px;
}

/*CONTACT PAGE*/
#wpforms-submit-140{
    width: 100px;
    background-color: var(--action-colour);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#wpforms-submit-140:hover{
    transition: .2s ease-in-out;
    background-color: var(--action-colour-hover);
}
#customer_details{
    background-color: #c9c9c9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 1.2em;
}
/*FOOTER*/
footer{
    padding-top: 1em;
    background-color: var(--primary);
    color: var(--white);
}
.footerContent{
    margin-bottom: 1em;
}
/*Center text content on small screens*/
@media (max-width: 990px) {
   .footerContent {
        text-align: center;
    }
}
.copyrightSection{
    background-color: #233f31;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 12px;
}
